<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{especie.name}}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

</head>
<body>

 <div id="nav-placeholder">  </div>

<script>
$.get("/images/html/navbar.html", function(data){
    $("#nav-placeholder").replaceWith(data);
});
</script>

  <link rel="stylesheet" href="/images/css/format.css">
<div c>
    <a  href="/{{especie.imageFile}}" target="_blank">
            <img   src="/{{especie.imageFile}}" >
            </a>
</div>


<div>
<table>
    <tr>
        <td>Nombre:</td>
        <td>{{especie.name}}</td>
    </tr>
    <tr>
        <td>Nombre cientifico:</td>
        <td>{{especie.scientific_name}}</td>
    </tr>
    <tr>
        <td>Descripción:</td>
        <td>{{especie.large_desc}}</td>
    </tr>
    <tr>
        <td>Reino:</td>
        <td>{{especie.kingdom}}</td>
    </tr>
    <tr>
        <td>Filo:</td>
        <td>{{especie.phylum}}</td>
    </tr>
    <tr>
        <td>Clase:</td>
        <td>{{especie.classEspecie}}</td>
    </tr>
    <tr>
        <td>Ordem:</td>
        <td>{{especie.order}}</td>
    </tr>
    <tr>
        <td>Família:</td>
        <td>{{especie.family}}</td>
    </tr>
    <tr>
        <td>Genero:</td>
        <td>{{especie.genus}}</td>
    </tr>
    <tr>
        <td>Espécie:</td>
        <td>{{especie.species}}</td>
    </tr>


</table>

</div>


</body>
</html>