<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Especies</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="/images/css/format.css" property="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

</head>
<body>
<div id="main">
    <header></header>
    <div id="nav-placeholder"></div>

    <script>
        $.get("/images/html/navbar.html", function (data) {
            $("#nav-placeholder").replaceWith(data);
        });
    </script>

    <div id="content">
        <div id="titulo">
            <h1>Especies </h1>
            <select id="id_categoria" name="id_categoria" class="form-control" required>
                <option value="">--Seleccione Categoria--</option>
                {% for categoria in lista_categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="especie-item" class="row">
            {% for especie in lista_especies %}
                <div class="col-md-4" id="{{ especie.category.nomCorto }}">
                    <div class="thumbnail">
                        <p class="list-category">{{ especie.category }}</p>
                        <a href="/{{ especie.imageFile }}" target="_blank">
                            <img src="/{{ especie.imageFile }}" style="width:100%">
                        </a>
                        <div class="caption">
                            <a href="detalle/{{ especie.id }}">
                                <b>Nombre:</b>{{ especie.name }}
                            </a>
                            <p>Descripción:</p>{{ especie.short_desc }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    $('#id_categoria').on('change', function () {

    })
</script>
</body>
</html>