<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="/images/css/format.css" property="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#mensaje_danger').hide();
        });

        function enviarForm() {
            $.ajax({
                type: "POST",
                url: "../login/",
                data: JSON.stringify({
                    username: $('#username').val(), password: $('#password').val()
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.mensaje == 'ok') {
                        window.location = "../";
                    } else {
                        $('#mensaje').text(data.mensaje);
                        $('#mensaje_danger').show();
                    }

                },
                failure: function (errMsg) {
                    alert('Hubo un error');
                }
            });

            return false;
        }
    </script>
</head>
<body>

<div class="row">
    <div id="nav-placeholder" class="page-header"></div>

    <script>
        $.get("/images/html/navbar.html", function (data) {
            $("#nav-placeholder").replaceWith(data);
        });
    </script>
    <div class="col-md-4 col-sm-offset-4">
        <div class="my-page-header">
            <h2>Iniciar sesión</h2>
        </div>

        <div id="mensaje_danger" class="alert alert-danger">
            <label id="mensaje"></label>
        </div>

        <form method="post" action="" onsubmit="return enviarForm();">

            <div class="form-group">
                <label for="username" class="control-label">
                    Nombre de usuario
                </label>
                <input type="text" id="username" name="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">
                    Contraseña
                </label>
                <input type="password" id="password" name="password" class="form-control">
            </div>

            <button class="btn btn-primary">Iniciar sesión</button>
            <a href="../" class="btn btn-primary">Cancelar</a>

        </form>
    </div>
</div>

</body>
</html>