

    <script>
        (function () {
            $.getJSON("/especies/isLogged").done(function (data) {
                if (data.mensaje == 'no') {
                    $("#add_user").show();
                    $("#cerrar_session").hide();
                    $("#add_image").hide();
                    $("#edit_user").hide();
                    $("#login_user").show();
                }
                else {
                    $("#add_user").hide();
                    $("#edit_user").show();
                    $("#cerrar_session").show();
                    $("#add_image").show();
                    $("#login_user").hide();
                }
            });
        })();

        function logout() {
            $.getJSON("/especies/logout").done(function (data) {
                if (data.mensaje == 'ok') {
                    location.reload();
                }
                else {
                    alert('Hubo un error');
                }
            });
        }
    </script>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Especies</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="add_user"><a href="agregarUsuario">Registro</a></li>
                <li id="edit_user"><a href="editUser">Modificar registro</a></li>
                <li id="cerrar_session"><a id="click_cerrar_session" href="#" class="glyphicon glyphicon-log-out"
                                           onclick="logout();">Logout</a></li>
                <li id="login_user"><a href="ingresar" class="glyphicon glyphicon-log-in"> Iniciar-sesión</a>
                </li>

            </ul>
        </div>

    </div>
</nav>

