<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

</head>
<body>
{% comment %}
{% block content %}
{% endcomment %}
<div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <div class="page-header">
            <h2>Registrar usuario</h2>
        </div>

        <form id="formImagen" action="../addUser/" enctype="multipart/form-data" method="post">
            <input id="first_name" name="first_name" type="text" placeholder="Nombres" class="form-control input-md"
                   required><br>
            <input id="last_name" name="last_name" type="text" placeholder="Apellidos" class="form-control input-md"
                   required><br>
            <input id="email" name="email" type="text" placeholder="Correo electrónico(nombre de usuario)"
                   class="form-control input-md"
                   required><br>
            <input id="imageFile" name="imageFile" type="file"><br>
            <select id="id_country" name="id_country" class="form-control">
                <option value="-1">--Seleccione Pais--</option>
                {% for pais in lista_paises %}
                    <option value="{{ pais.id }}">{{ pais.name }}</option>
                {% endfor %}
            </select><br>
            <select id="id_city" name="id_city" class="form-control">
                <option value="-1">--Seleccione Ciudad--</option>
            </select><br>
            <input id="password" name="password" type="password" placeholder="Contraseña" class="form-control input-md"
                   required><br>
            <input id="password2" name="password2" type="password" placeholder="Verificar contraseña"
                   class="form-control input-md" required><br>

            <input type="submit" value="Registrar" class="btn btn-primary">
            <a href="../listar" class="btn btn-primary">Cancelar</a>

        </form>
    </div>
</div>
<script>
    $('form').submit(function (e) {

        if ($('#password').val() != $('#password2').val()) {
            alert('Las contraseñas no coinciden')
            return false;
        }

        var formData = new FormData($('#formImagen')[0]);
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data)
                window.location = "../listar/";
            },
            failure: function (errMsg) {
                alert('Hubo un error');
            }
        });
        e.preventDefault();
    });
    $('#id_country').on('change', function () {
        $('#id_city')
            .find('option')
            .remove()
            .end()
            .append('<option value="-1">--Seleccione--</option>')
            .val('-1');

        if (this.value == -1) {
            return false;
        }

        $.ajax({
            type: "POST",
            url: "../fillCities/",
            data: JSON.stringify({
                id_country: this.value
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data != null) {
                    $.each(data, function (key, value) {
                        $('#id_city').append($("<option/>").val(key).text(value));
                    });
                } else {
                    console.log('error')
                }

            },
            failure: function (errMsg) {
                alert('Hubo un error');
            }
        });
    })

</script>
</body>
</html>