div.especie {

    border: 0.5px solid black;
    display: inline-block;
    align-items:: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

body {
    padding-top: 70px;
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

h4 {
    width: 300px;
}

.list-category {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.well-xsm {
    padding: 3px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.my-page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eee;
}