div.especie  {

	border: 0.5px solid black ;
	display: inline-block;
	align-items: :center;
	margin-left: auto;
    margin-right: auto;
    text-align:center;

}

body { padding-top: 70px; }

img {width: 300px;
height: 200px;}


